.quiz-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
}

.question-box {
  margin-bottom: 20px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.question-text {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

.options {
  display: flex;
  flex-direction: column;
}

.option {
  margin: 5px 0;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.option input {
  margin-right: 10px;
}
.correct-answer {
  background-color: black;
  border-color: #28a745;
  color: #155724;
}
.wrong-answer {
  background-color: #f8d7da;
  border-color: #dc3545;
  color: #721c24;
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.submit-btn:hover {
  background: #0056b3;
}
.score {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}
